{% extends 'log/base.html' %}
{% block search %}
    {% if errors %}
        {% for error in errors %}<span class="error"> {{ error }}</span>{% endfor %}
    {% endif %}
    <form action="" method="get">
        <input type="text" name="q">
        <input type="submit" value="Search">
    </form>
<span class="search">For example: kvm, lvs, CPU10 etc.</span> 
{% endblock search %}
{% block table %}
<div class="pagination">
    <span class="step-links">
        &larr;&nbsp;{% if events.has_previous %}<a href="?{% if query %}q={{ query }}&amp;{% endif %}page={{ events.previous_page_number }}">HERE</a>{% else %}HERE{% endif %}
        {% if events.has_next %}<a href="?{% if query %}q={{ query }}&amp;{% endif %}page={{ events.next_page_number }}">THERE</a>{% else %}THERE{% endif %}&nbsp;&rarr;
    </span>
    <span class="current">
        page {{ events.number }} from {{ events.paginator.num_pages }}
    </span>
</div>
<table>
<tbody>
    <tr>
     <th class="time">Time</th>
     <th class="facility">Facility</th>
     <th class="priority">Priority </th>
     <th class="source">From host</th>
     <th class="message">Message</th>
    </tr>
{% for event in events %}
    <tr>
     <td class="time"> {{event.devicereportedtime}}</td>
     <td class="facility"> {{event.facility}}</td>
     <td class="priority"> {{event.priority}}</td>
     <td class="source"> {{event.fromhost}}</td>
     <td class="message"> {{event.message}}</td>
    </tr>
{% endfor %}
</tbody>
</table>
<div class="pagination">
    <span class="step-links">
        &larr;&nbsp;{% if events.has_previous %}<a href="?{% if query %}q={{ query }}&amp;{% endif %}page={{ events.previous_page_number }}">THERE</a>{% else %}HERE{% endif %}
        {% if events.has_next %}<a href="?{% if query %}q={{ query }}&amp;{% endif %}page={{ events.next_page_number }}">THERE</a>{% else %}THERE{% endif %}&nbsp;&rarr;
    </span>
    <span class="current">
        page {{ events.number }} from {{ events.paginator.num_pages }}
    </span>
</div>
{% endblock table %} 
